.App {
  display: grid;
  min-height: 100vh;
  justify-items: center;
  align-items: center;
}

.container {
  /* display: grid; */
  /* min-height: 100vh; */
  /* justify-items: center; */
  /* align-items: center; */
}
